{% extends "Hindi/base.html" %}
{% block links %}
    <link rel="stylesheet" href="/static/css/boardmembers.css">
    <link rel="stylesheet" href="/static/css/footer.css">
{% endblock links %}
{% block body %}

    <section>

        <div class="row row-top" style="margin-top: 100px;">
            <h1 style="font-weight: bolder;">ट्रस्टी</h1>
        </div>

        <div class="row">

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee1.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री विलास राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">मुख्याध्यक्ष</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee2.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री विश्वेश्वर राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">उपमुख्याध्यक्ष</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee3.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री नरेंद्र राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">कोषाध्यक्ष</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee4.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री संदीप राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">सचिव</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee5.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री रामेश्वर राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">ट्रस्टी</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee6.jpg" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री संतोष राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">ट्रस्टी</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee7.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री अजय राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">ट्रस्टी</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee8.png" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री रंजित राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">ट्रस्टी</span>
                    </p>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="img-container">
                        <img src="/static/images/trustees/trustee9.jpeg" />
                    </div>
                    <h3>
                        <span id="personcard-en">श्री गोकुल राव इंगोले</span>
                    </h3>
                    <hr>
                    <p>
                        <span id="personcard-en">ट्रस्टी</span>
                    </p>
                </div>
            </div>

        </div>

    </section>
{% endblock body %}
